@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&family=Splash&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* html, body, h1, img, etc */
@layer base {
  body {
    @apply font-body bg-[#fcf6f4];
  }
}

/* Custom Classes */
@layer components {
  .container {
    @apply p-8;
  }

  .page-inner .page {
    @apply px-0;
  }

  .page {
    @apply px-[2rem] py-[10rem] w-full h-full relative flex flex-col items-center lg:p-[10rem];
    background-color: rgba(252, 246, 244, 0.7);
  }

  .page-inner .social-link {
    @apply text-black;
  }

  .page-inner .social-bar {
    @apply bg-black;
  }

  .page-inner .page-logo {
    @apply text-black;
  }

  .page-wrapper {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    background-position: center;
    background-image: url("https://cdn.shopify.com/s/files/1/0517/8146/8354/files/paper.jpg?v=1656883730");
  }

  .custom-border {
    background: linear-gradient(
          to right,
          rgb(252, 246, 244) 50%,
          rgb(0, 0, 0) 50%
        )
        center bottom / 100% 2px no-repeat,
      linear-gradient(to right, rgb(252, 246, 244) 50%, rgb(0, 0, 0) 50%) center
        top;
    background-repeat: no-repeat;
    background-size: 100% 2px;
    border-left: 2px solid #fcf6f4;
    border-right: 2px solid #000;
  }
}
